.article-content {
  max-width: 700px;
  min-width: 300px;
  margin: 100px 50px;
  text-align: justify;
}
.article-content h2 {
  font-size: 20px;
  margin-bottom: 20px;
}
.article-content p {
  font-size: 15px;
}
